# Backend
backend/target/
backend/data/
backend/.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
